# Custom
.ycm_extra_conf.py
*.pyc
*.*~
compile_commands.json
.vscode/
GTAGS
GRTAGS
GPATH
.ccls-cache/
.clangd/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Meson
builddir/
prefix/

# Sphinx
_build/
