/connect irc.freenode.net
/login srainbot
/join #lasttest
/relaybot tg2arch|[|] 
/relaybot toxsync|(|) 
/relaybot xmppbot|[|] 
/relaybot SilverRain|[|] 
/relaybot teleboto|[|] 
/relaybot Orizon|[|] 
/ignore SilverRain
/ignore Lisa
