/* @import url("./reset.css"); */

#window_header_box {
    background-color: alpha (@window_header_box_color, 1);
}

#msg_scrolledwindow {
    background-image: url("./bg.jpg");
}

#normal_sys_msg_box #msg_label {
    color: @sys_msg_text_color;
    background-color: alpha (@normal_sys_msg_color, 0.3);
    border-radius: 4px;
}

#normal_send_msg_box #padding_box,
#normal_recv_msg_box #padding_box {
    background-color: alpha (@normal_recv_msg_color, 1);
    border-radius: 4px;
    box-shadow: alpha(black, 0.2) 2px 2px;
}


GtkEntry,
GtkEntry:focus,
GtkButton,
GtkImage {
	border: none;
	border-width: 0;
	border-image: none;
	border-style: none;
	border-radius: 0;
}


GtkMenu {
  background: @ui_darker;
  border: none;
  border-width: 0;
  border-image: none;
  border-image-width: 0;
  border-style: none;
  border-radius: 0;

  box-shadow: none;
  text-shadow: none;
  padding: 0;
}

GtkMenu GtkMenuItem {
}
