@import url("./reset.css");

/* general {{ */
* { color: @text_color; }

GtkWindow, GtkBox { background-color: @bg_color; }

GtkButton * { background-color: transparent; }
GtkButton { background-color: @bg_color; padding: 8px; }
GtkButton:hover{ background-color: @hover_color; transition: 200ms ease-in-out; }
GtkButton:active{ background-color: @active_color; transition: 200ms ease-in-out; }

GtkSeparator.horizontal {
    border: 1px solid @gray_color;
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-height: 1px;
}

GtkSeparator.vertical {
    border: 1px solid @gray_color;
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 1px;
}

GtkMenuItem { padding: 8px; background-color: @bg_color; }
GtkMenuItem:hover { background-color: @hover_color; }

GtkListBoxRow:hover { background-color: @hover_color; }
GtkEntry { padding: 8px; }
GtkEntry:selected, GtkLabel:selected {
    background-color: @selected_text_color;
}

.scrollbar.slider:prelight { background-color: alpha(#696969, 0.8); }
.scrollbar .slider {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: transparent;
    background-clip: padding-box;
    background-color: alpha(#696969, 0.5);
}
/* }} */


/* SrainStackSidebar {{ */
SrainStackSidebar GtkListBoxRow { padding: 14px; }
SrainStackSidebar GtkSeparator { color: transparent; }
SrainStackSidebar GtkListBoxRow:focus,
SrainStackSidebar GtkListBoxRow:hover {
    background-color: @hover_color;
    transition: 200ms ease-in-out;
}
SrainStackSidebar GtkListBoxRow:selected {
    background-color: @active_color;
    transition: 200ms ease-in-out;
}

SrainStackSidebarItem,
SrainStackSidebarItem * { background-color: transparent; }
SrainStackSidebarItem #count_label {
    padding: 2px;
    color: @white_color;
    background-color: @red_color;
    border-radius: 4px;
}
/* }} */


/* SrainWindow {{*/
#window_header_box { background-color: @window_header_box_color; }
#window_header_box GtkButton,
#window_header_box GtkButton:hover{ background-color: @window_header_box_color; padding: 8px;}
#window_header_box GtkButton:active{ background-color: darker(@window_header_box_color); }
/* }} */


/* SrainMsg {{ */
#normal_sys_msg_box #msg_label,
#error_sys_msg_box #msg_label,
#command_sys_msg_box #msg_label,
#action_sys_msg_box #msg_label {
    color: @sys_msg_text_color;
    border-radius: 4px;
}

#normal_sys_msg_box #msg_label { background-color: @normal_sys_msg_color; }
#error_sys_msg_box #msg_label { background-color: @error_sys_msg_color; }
#command_sys_msg_box #msg_label { background-color: @command_sys_msg_color; }
#action_sys_msg_box #msg_label { background-color: @action_sys_msg_color; }
#normal_send_msg_box #padding_box,
#normal_recv_msg_box #padding_box {
    background-color: @normal_recv_msg_color;
    border-radius: 4px;
    box-shadow: alpha(black, 0.2) 2px 2px;
}
/* }} */


/* SrainChan */
#msg_scrolledwindow GtkBox { background-color: transparent; }
#msg_scrolledwindow GtkButton { padding: 4px; }
#msg_scrolledwindow GtkButton:hover{ background-color: transparent; }
#chan_box {
    /* background-image: url("./bg.jpg"); */
    /* background-color: @active_color; */
    background-image: -gtk-gradient (linear,
               left top, right bottom,
               /* TODO */
               from(@window_header_box_color), to(@active_color));
}
#avatar_image { border-radius: 20px; }
#onlinelist_listbox {  background-color: @bg_color; }
/*
#unread_label {
    background-color: @bg_color; padding: 6px;
    box-shadow: alpha(black, 0.2) 0px 2px;
}
*/
/* }} */
