[Desktop Entry]
Version=1.0
Type=Application
Name=Srain
GenericName=IRC client
Comment=It does not look like an IRC client.
TryExec=srain
Exec=srain %u
Icon=srain
Categories=InstantMessaging;Network
Terminal=false
