[Desktop Entry]
Version=0.06.1
Type=Application
Name=Srain
GenericName=Srain IRC client
Comment=Modern, beautiful IRC client written in GTK+ 3.
TryExec=srain
Exec=srain %u
Icon=srain
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
Categories=GTK;IM;Network;IRCClient;
Keywords=GTK;IM;Network;IRCClient;Chat
Terminal=false
