name: release assets
on:
  release:
    types: [created]
jobs:
  debiab-buster:
    runs-on: ubuntu-latest
    container: debian:buster
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_REPO: ${{ github.repository }}
      GH_REF: ${{ github.ref }}
    steps:
    - name: upgrade the packages
      run: apt-get update && apt-get upgrade -y && apt-get install -y git
    - uses: actions/checkout@v2
    - name: build
      run: .github/workflows/release-debian-package.sh
    - name: upload the assets
      run: .github/workflows/release-assets-upload.py
  mingw64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GH_REPO: ${{ github.repository }}
      GH_REF: ${{ github.ref }}
    steps:
    - uses: actions/checkout@v2
    - uses: msys2/setup-msys2@v2
      name: Init MSYS2/MINGW64 environment
      with:
        update: true
        msystem: MINGW64
        install: base-devel git curl zip mingw-w64-x86_64-python-requests mingw-w64-x86_64-gcc mingw-w64-x86_64-gtk3 mingw-w64-x86_64-libconfig mingw-w64-x86_64-libsoup mingw-w64-x86_64-libsecret mingw-w64-x86_64-pkg-config mingw-w64-x86_64-gettext mingw-w64-x86_64-glib-networking mingw-w64-x86_64-meson mingw-w64-x86_64-appstream-glib
    - name: Build
      run: |
        SRAIN_TAG=`git describe --tags`;
        INSTALL_DIR=srain-$SRAIN_TAG-mingw64-install;
        PACKAGE_DIR=srain-$SRAIN_TAG-mingw64;
        PACKAGE_NAME=$PACKAGE_DIR.zip;
        mkdir -pv out;
        mkdir -pv $INSTALL_DIR;
        meson setup -Ddoc_builders=[] \
          --prefix=$MINGW_PREFIX \
          --datadir=$MINGW_PREFIX/share \
          --sysconfdir=$MINGW_PREFIX/etc \
          --buildtype=release \
          builddir && \
        ninja -C builddir && \
        DESTDIR=$PWD/$INSTALL_DIR ninja -C builddir && \
        .github/workflows/pack-mingw64.sh $INSTALL_DIR/$MINGW_PREFIX $PACKAGE_DIR $PACKAGE_NAME && \
        mv $PACKAGE_NAME ./out
    - name: Upload
      run: /mingw64/bin/python3 .github/workflows/release-assets-upload.py

